@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.edit-dialog-panel {
  width: 320px;
  max-width: 90vw;
}

mat-form-field {
  width: 100%;
  max-width: 600px;
  margin: 30px auto $spacing;

  @media (max-width: 600px) {
    max-width: 100%;
  }
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  padding-top: $spacing;
}

mat-dialog-actions {
  margin-top: $spacing;
  display: flex;
  justify-content: flex-end;
  gap: $spacing / 2;
}

.table-container {
  padding: 0 40px;
}
