@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.edit-dialog-panel {
  width: 320px;
  max-width: 90vw;
}

mat-form-field {
  width: 100%;
  margin-bottom: $spacing;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

mat-dialog-actions {
  margin-top: $spacing;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.table-container {
  padding: 0 40px;
}
